@charset "UTF-8";
:root {
  --font-family: "Inter", sans-serif;
  --orange: #ff9600;
  --darkorange: #f05000;
  --dark: #1d1d1b;
  --white: #fff;
  --line: #d4d4d4;
  --lightgrey: #f2f2f2;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v13-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
  font-style: normal;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 133%;
  color: var(--darkblue-mod);
}

img {
  height: auto;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  padding: 0;
  list-style: none;
}

textarea {
  resize: vertical;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-moz-placeholder {
  font-size: 18px;
  font-weight: initial;
}

::placeholder {
  font-size: 18px;
  font-weight: initial;
}

h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 112%;
  margin: auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .wrapper {
    padding: 0 20PX;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--orange);
}
@media (max-width: 474px) {
  .title {
    font-size: 14px;
  }
}

.bigtitle {
  font-size: 48px;
  line-height: 117%;
  color: var(--dark);
}
@media (max-width: 474px) {
  .bigtitle {
    font-size: 30px;
  }
}

.container-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 32px;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .container-button {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.form {
  display: grid;
  gap: 32px;
}
.form__input {
  border: 1px solid var(--line);
  color: var(--dark);
  padding: 13px 24px;
}
.form__input:hover {
  border: 1px solid var(--orange);
}
.form__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.form__footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.form__check {
  display: flex;
  gap: 16px;
}
.form .checkbox {
  border: 1px solid var(--line);
  min-width: 32px;
  min-height: 32px;
  background: var(--white);
  cursor: pointer;
}
.form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--dark);
}
@media (max-width: 767px) {
  .form {
    gap: 20px;
  }
  .form__main {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .form__footer {
    gap: 20px;
  }
}

.button {
  border: 1px solid var(--line);
  padding: 32px 20px;
  height: 80px;
  background: var(--white);
  color: var(--darkorange);
  width: 224px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}
.button span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--dark);
  white-space: nowrap;
}
.button svg {
  justify-self: flex-end;
}
@media (max-width: 1279px) {
  .button {
    height: 64px;
    padding: 23px 20px;
  }
}
@media (max-width: 1023px) {
  .button {
    width: 208px;
    justify-content: center;
    height: 64px;
  }
}
@media (max-width: 767px) {
  .button {
    width: 100%;
    padding: 15px 40px;
    height: 45px;
  }
  .button span {
    font-size: 16px;
  }
}
.button--white span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}
.button--orange {
  background: var(--darkorange);
  color: var(--white);
}
.button--orange span {
  color: var(--white);
}
.button.button--arrow {
  border: 1px solid var(--line);
  width: 88px;
  height: 88px;
  cursor: pointer;
  background: content-box;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
@media (max-width: 767px) {
  .button.button--arrow {
    width: 40px;
    height: 40px;
  }
  .button.button--arrow svg {
    width: 10px;
    height: 20px;
  }
}

.hero {
  padding-top: 120px;
  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 900px;
}
.hero__container-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero__container-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
}
.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.hero__grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-items: center;
  gap: 67px;
  position: relative;
}
.hero__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--dark);
  opacity: 0.7;
}
.hero__block-text {
  margin-top: 10px;
}
.hero__block-text h1 {
  margin-bottom: 27px;
}
.hero__block-img img {
  height: 865px;
}
.hero__block-img {
  z-index: 10;
  grid-column: 2;
  display: block;
  margin: auto;
  top: -60px;
}
@media (max-width: 1279px) {
  .hero__grid {
    gap: 0;
    grid-template-columns: 9fr 4fr;
  }
  .hero__block-img img {
    height: 658px;
  }
}
@media (max-width: 1023px) {
  .hero__grid {
    grid-template-columns: 1fr;
  }
  .hero__block-img {
    margin-left: 250px;
  }
  .hero__block-img img {
    height: 658px;
  }
  .hero__block-img {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (max-width: 767px) {
  .hero__grid {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 30px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 156%;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero__block-img img {
    height: 420px;
    grid-column: 1;
  }
  .hero__block-img {
    margin-left: 65px;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 0.03em;
  text-align: right;
}
.header__grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 55px;
  justify-items: center;
  align-items: center;
  position: relative;
  padding-bottom: 5px;
}
.header__logo {
  width: 102px;
}
.header__logo:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.header__menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  color: var(--dark);
  justify-content: center;
}
.header .menu__equipment,
.header .menu__area,
.header .menu__about,
.header .menu__contacts {
  padding: 20px 28px;
}
.header .menu__equipment:hover,
.header .menu__area:hover,
.header .menu__about:hover,
.header .menu__contacts:hover {
  color: var(--white);
  background-color: var(--darkorange);
}
.header__contacts {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}
.header__tel:hover {
  transition: all 0.3s;
}
.header__contacts a span {
  font-weight: 500;
  color: var(--darkorange);
}
.header__contacts a span:hover {
  color: var(--orange);
  transition: all 0.3s;
}
.header__grid::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--dark);
  opacity: 0.15;
  position: absolute;
}
.header__button {
  display: none;
  overflow: hidden;
}
.header__button:hover {
  background-color: var(--orange);
  transition: all 0.3s;
}
@media (max-width: 1379px) {
  .header__grid {
    gap: 0px;
  }
}
@media (max-width: 1279px) {
  .header .menu__equipment,
  .header .menu__area,
  .header .menu__about,
  .header .menu__contacts {
    padding: 20px 15px;
  }
  .header__contacts {
    grid-template-columns: auto;
    gap: 8px;
  }
  .header__logo {
    width: 136px;
  }
}
@media (max-width: 1023px) {
  .header__grid {
    grid-template-columns: auto 1fr auto;
    gap: 24px;
    justify-items: flex-end;
  }
  .header__logo {
    width: 102px;
  }
  .header__menu {
    display: none;
    overflow: hidden;
  }
  .header__contacts {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 14px;
  }
  .header__button {
    display: block;
    overflow: visible;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    background-color: var(--darkorange);
    height: 45px;
    width: 45PX;
  }
  .header__button::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 2px;
    background-color: white;
    left: 15px;
    top: 10px;
  }
  .header__button span::after {
    position: absolute;
    z-index: 2;
    content: "";
    width: 20px;
    height: 2px;
    background-color: white;
    left: 15px;
    top: 20px;
  }
  .header__button::after {
    position: absolute;
    z-index: 2;
    content: "";
    width: 16px;
    height: 2px;
    background-color: white;
    left: 15px;
    top: 30px;
  }
}
@media (max-width: 767px) {
  .header__grid {
    gap: 10px;
  }
  .header__logo {
    width: 84px;
  }
  .header__contacts {
    grid-template-columns: auto;
    gap: 8px;
    align-content: center;
  }
}
@media (max-width: 474px) {
  .header__contacts {
    gap: 0px;
    margin: 10px;
  }
  .header__grid {
    gap: 0px;
  }
}

.overview {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
}
.overview__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 160px;
}
.overview .block__flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--darkorange);
}
@media (max-width: 1379px) {
  .overview__grid {
    grid-template-columns: 1fr;
    gap: 45px;
  }
  .overview .block__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}
@media (max-width: 474px) {
  .overview .block__flex {
    grid-template-columns: 1fr;
    gap: 23PX;
  }
}

.block__text p {
  font-size: 16px;
  line-height: 150%;
  color: var(--dark);
  opacity: 0.7;
}

.block__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.block__grid h3 {
  font-size: 24px;
  position: relative;
  display: block;
}
.block__grid h3::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background: var(--orange);
  top: 10px;
  margin-left: 6px;
}
.block__grid ul {
  padding: 10px 20px;
  display: block;
  height: inherit;
}
.block__grid-ligrip img {
  display: block;
  height: 344px;
  width: -moz-max-content;
  width: max-content;
}
.block__grid li {
  position: relative;
  font-size: 16px;
  padding: 0;
}
.block__grid li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: var(--orange);
  top: 10px;
  left: -15px;
}
@media (max-width: 767px) {
  .block__grid-ligrip {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media (max-width: 474px) {
  .block__grid {
    grid-template-columns: 1fr;
  }
  .block__grid-ligrip img {
    align-self: center;
  }
  .block__grid h3 {
    font-size: 20px;
  }
}

.vantage {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.vantage--reliable:hover, .vantage--save:hover, .vantage--multifunctional:hover, .vantage--radio:hover, .vantage--universal:hover {
  color: var(--orange);
  transition: all 0.3s;
}
.vantage--reliable:hover .reliable,
.vantage--reliable:hover .save,
.vantage--reliable:hover .multifunctional,
.vantage--reliable:hover .radio,
.vantage--reliable:hover .universal, .vantage--save:hover .reliable,
.vantage--save:hover .save,
.vantage--save:hover .multifunctional,
.vantage--save:hover .radio,
.vantage--save:hover .universal, .vantage--multifunctional:hover .reliable,
.vantage--multifunctional:hover .save,
.vantage--multifunctional:hover .multifunctional,
.vantage--multifunctional:hover .radio,
.vantage--multifunctional:hover .universal, .vantage--radio:hover .reliable,
.vantage--radio:hover .save,
.vantage--radio:hover .multifunctional,
.vantage--radio:hover .radio,
.vantage--radio:hover .universal, .vantage--universal:hover .reliable,
.vantage--universal:hover .save,
.vantage--universal:hover .multifunctional,
.vantage--universal:hover .radio,
.vantage--universal:hover .universal {
  transform: scale(1.1);
}
.vantage p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--dark);
  opacity: 0.7;
}
.vantage b {
  color: var(--dark);
  font-size: 18px;
}
.vantage h3 {
  font-size: 18px;
  line-height: 133%;
  color: var(--dark);
}
@media (max-width: 1379px) {
  .vantage__grid {
    grid-template-columns: 1fr;
    gap: 45px;
  }
  .vantage .block__flex {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 32px;
  }
  .vantage .block__flex img {
    height: 344px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .vantage {
    margin-bottom: 0;
  }
  .vantage .block__grid-ligrip {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media (max-width: 474px) {
  .vantage .block__flex {
    grid-template-columns: 1fr;
  }
  .vantage .block__grid {
    grid-template-columns: 1fr;
  }
}

.magazine {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
}
.magazine__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.magazine__text label {
  font-size: 14px;
  line-height: 143%;
  color: var(--dark);
}
@media (max-width: 1279px) {
  .magazine__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .magazine__imge {
    grid-row: 1;
    justify-self: center;
  }
  .magazine__imge img {
    width: 928px;
  }
}
@media (max-width: 1023px) {
  .magazine__imge img {
    width: 688px;
  }
}
@media (max-width: 767px) {
  .magazine {
    margin-bottom: 40px;
  }
  .magazine__grid {
    gap: 0px;
  }
  .magazine__imge img {
    width: 335px;
  }
}

.use {
  position: relative;
  display: block;
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 80px;
  background-color: var(--dark);
  padding-bottom: 99px;
  padding-top: 78px;
}
.use .bigtitle {
  color: var(--white);
}
.use ul {
  padding: 0;
}
.use__photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.use__photo img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.use__photo p {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: var(--white);
  text-wrap: wrap;
}
.use__item p::after {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 2px;
  background: var(--orange);
}
.use__item:hover img {
  transform: scale(1.1);
  transition: all 0.3s;
}
.use__item:hover p::after {
  width: 24px;
  transition: all 0.3s;
}
@media (max-width: 1380px) {
  .use__photo {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  .use__photo img {
    width: 288px;
  }
}
@media (max-width: 1023px) {
  .use__photo {
    grid-template-columns: repeat(2, 1fr);
  }
  .use__photo img {
    height: 168px;
  }
}
@media (max-width: 767px) {
  .use__photo {
    grid-template-columns: 1fr;
  }
  .use__photo img {
    width: 335px;
  }
  .use {
    padding-top: 40px;
  }
}

.choice {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
  margin-top: 120px;
}
.choice__grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 150px;
}
.choice__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark);
}
.choice .block__compani {
  margin-top: 140px;
}
.choice .compani__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.choice .compani__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  cursor: pointer;
}
.choice .compani__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: var(--dark);
  margin: 0;
}
.choice .compani__city {
  font-weight: 400;
  color: #616160;
  margin: 0;
}
.choice .icon {
  color: var(--darkorange);
  cursor: pointer;
}
.choice .icon--support,
.choice .icon--decision,
.choice .icon--equipment {
  width: 40px;
}
.choice .icon__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--dark);
}
.choice .why-choice--support:hover .icon--support,
.choice .why-choice--decision:hover .icon--decision,
.choice .why-choice--equipment:hover .icon--equipment {
  color: var(--orange);
  transform: scale(1.1);
  transition: all 0.3s;
}
.choice .compani__item:hover.compani__item img {
  transform: scale(1.1);
  transition: all 0.3s;
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1279px) {
  .choice__grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .choice .block__compani {
    margin-top: 0px;
  }
  .choice .compani__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}
@media (max-width: 1023px) {
  .choice .compani__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .choice .compani__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: var(--white);
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer .section__black {
  padding-top: 70px;
}
.footer .section__black p {
  font-size: 16px;
  line-height: 150%;
  color: var(--orange);
}
.footer .bigtitle {
  color: var(--white);
}

/* Активности  */
.header-sticky .header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--white);
  color: var(--dark);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.header-sticky .header__menu, .header-sticky .header__contacts,
.header-sticky .header .header__tel {
  color: var(--dark);
}
.header-sticky .header__grid::after {
  content: "";
  height: 0px;
  opacity: 0.15;
}

.header__nav {
  display: none;
  overflow: hidden;
  font-weight: 700;
  font-size: 45px;
  text-align: left;
}
.header__nav ul {
  padding: 0;
}
@media (max-width: 767px) {
  .header__nav {
    font-size: 25px;
  }
}

.active {
  overflow: visible;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
}

.nav__equipment, .nav__area, .nav__about, .nav__contacts {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 30px 0;
  align-items: center;
}
.nav__equipment span, .nav__area span, .nav__about span, .nav__contacts span {
  justify-self: flex-start;
}
.nav__equipment:hover, .nav__area:hover, .nav__about:hover, .nav__contacts:hover {
  transition: all 0.3s;
  color: var(--white);
  background-color: var(--darkorange);
}
.nav__equipment:hover .nav__button svg, .nav__area:hover .nav__button svg, .nav__about:hover .nav__button svg, .nav__contacts:hover .nav__button svg {
  color: var(--white);
}
.nav__equipment:hover .button, .nav__equipment:active .button, .nav__equipment:focus .button, .nav__area:hover .button, .nav__area:active .button, .nav__area:focus .button, .nav__about:hover .button, .nav__about:active .button, .nav__about:focus .button, .nav__contacts:hover .button, .nav__contacts:active .button, .nav__contacts:focus .button {
  border: 1px solid var(--darkorange);
  transition: all 0.3s;
  transform: scale(1);
}
@media (max-width: 767px) {
  .nav .header__nav {
    font-size: 25px;
  }
}/*# sourceMappingURL=style.css.map */