.button {
  border: 1px solid var(--line);
  padding: 32px 20px;
  height: 80px;
  background: var(--white);
  color: var(--darkorange);
  width: 224px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;

  &:hover {
    color: var(--orange);
    transition: all 0.5s;
    transform: scale(1.1);
  }

  span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--dark);
    white-space: nowrap;
  }

  svg {
    justify-self: flex-end;
  }

  //Медиа запросы
  @media (max-width: 1279px) {

    &{
      height: 64px;
      padding: 23px 20px
    }
  }


  @media (max-width: 1023px) {
    & {
      width: 208px;
      justify-content: center;
      height: 64px;
    }

  }

  @media (max-width: 767px) {
    & {
      width: 100%;
      padding: 15px 40px;
      height: 45px;
    }
    span {
      font-size: 16px;
    }
  }
}

.button--arrow {
  border: 1px solid var(--line);
  width: 88px;
  height: 88px;
  cursor: pointer;
  background: content-box;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    color: var(--darkorange);
  }

  //Медиа запросы

  @media (max-width: 767px) {

    & {
      width: 40px;
      height: 40px;
    }
  }
}
