.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;
  transition: all 0.3s;

  &__grid {
    padding-bottom: 12px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 120px;
    justify-items: flex-start;
    align-items: center;
    position: relative;
  }

  &__logo:hover {
    transform: scale(1.1);
  }

  &__menu {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, auto);
    color: var(--dark);
    justify-content: center;
    width: 613px;
    height: 20px;
  }

  .menu__equipment:hover,
  .menu__area:hover,
  .menu__about:hover,
  .menu__contacts:hover {
    transform: scale(1.1);
  }

  &__contacts {
    width: 357px;
    height: 16px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
  }

  &__tel:hover {
    transform: scale(1.1);
  }

  &__contacts a span {
    font-weight: 500;
    color: var(--darkorange);
  }

  &__contacts a span:hover {
    color: var(--orange);
    text-decoration: underline;
  }

  &__grid::after {
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--dark);
    opacity: 0.15;
    position: absolute;
  }

  &__button{
    display: none;
    overflow: hidden;
  }
  //Медиа запросы

  @media (max-width: 1379px) {
    &__grid {
      gap: 48px;
    }

    &__menu {
      gap: 40px;
    }

  }

  @media (max-width: 1279px) {
    &__grid {
      gap: 10px;
    }

    &__menu {
      width: 550px;
      height: 20px;
      gap: 20px;
    }

    &__contacts {
      width: 198px;
      height: 40px;
      grid-template-columns: auto;
      gap: 8px;
    }

  }

  @media (max-width: 1023px) {
    &__grid {
      grid-template-columns: auto 1fr;
      gap: 100px;
      justify-content: flex-end;
    }
    &__menu {
      display: none;
      overflow: hidden;
    }

    &__contacts {
      width: 349px;
      height: 14px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 14px;
    }

    &__button{
      display: block;
      overflow: visible;
    }
  }

  @media (max-width: 767px) {}
}
