.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;


  &__grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 55px;
    justify-items: center;
    align-items: center;
    position: relative;
    padding-bottom: 5px;
  }

  &__logo {
    width: 102px;
  }

  &__logo:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    color: var(--dark);
    justify-content: center;
  }

  .menu__equipment,
  .menu__area,
  .menu__about,
  .menu__contacts {
    padding: 20px 28px;
  }

  .menu__equipment:hover,
  .menu__area:hover,
  .menu__about:hover,
  .menu__contacts:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    color: var(--white);
    background-color: var(--darkorange);
  }

  &__contacts {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
  }

  &__tel:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }

  &__contacts a span {
    font-weight: 500;
    color: var(--darkorange);
  }

  &__contacts a span:hover {
    color: var(--orange);
    transition: all 0.3s;
  }

  &__grid::after {
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--dark);
    opacity: 0.15;
    position: absolute;
  }

  &__button {
    display: none;
    overflow: hidden;

  }

  &__button:hover {
    background-color: var(--orange);
    transform: scale(1.1);
    transition: all 0.3s;
  }

  //Медиа запросы

  @media (max-width: 1379px) {

    &__grid {
      gap: 0px;
    }

  }

  @media (max-width: 1279px) {

    .menu__equipment,
    .menu__area,
    .menu__about,
    .menu__contacts {
      padding: 20px 15px;
    }

    &__contacts {
      grid-template-columns: auto;
      gap: 8px;
    }

    &__logo {
      width: 136px;
    }
  }

  @media (max-width: 1023px) {
    &__grid {
      grid-template-columns: auto 1fr auto;
      gap: 24px;
      justify-items: flex-end;
    }

    &__logo {
      width: 102px;

    }

    &__menu {
      display: none;
      overflow: hidden;
    }

    &__contacts {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 14px;
    }

    &__button {
      display: block;
      overflow: visible;
      border: none;
      background: none;
      cursor: pointer;
      background-color: var(--darkorange);
      height: 45px;
      width: 45PX;
    }
  }

  @media (max-width: 767px) {
    &__grid {
      gap: 10px;
    }

    &__logo {
      width: 84px;
    }

    &__contacts {
      grid-template-columns: auto;
      gap: 8px;
      align-content: center;
    }
  }

  @media (max-width: 474px) {
    &__contacts {
      gap: 5px;
    }
  }
}
