.overview {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;

  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 160px;
  }

  .block__flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--darkorange);
  }

  @media (max-width: 1379px) {
    &__grid {
      grid-template-columns: 1fr;
      gap: 45px;
    }

    .block__flex {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }
  }

  @media (max-width: 474px) {
    .block__flex {
      grid-template-columns: 1fr;
      gap: 23PX;
    }
  }

}

.block__text {

  & p {
    font-size: 16px;
    line-height: 150%;
    color: var(--dark);
    opacity: 0.7;
  }
}

.block__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  & h3 {
    font-size: 24px;
    position: relative;
    display: block;
  }

  & h3::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background: var(--orange);
    top: 10px;
    margin-left: 6px;
  }

  & ul {
    padding: 10px 20px;
    display: block;
    height: inherit;
  }


  &-ligrip img {
    display: block;
    height: 344px;
    width: max-content;
  }

  & li {
    position: relative;
    font-size: 16px;
    padding: 0;
  }


  & li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 2px;
    background: var(--orange);
    top: 10px;
    left: -15px;
  }

  @media (max-width: 767px) {
    &-ligrip {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  @media (max-width: 474px) {

    & {
      grid-template-columns: 1fr;
    }

    &-ligrip img {
      align-self: center;
    }


    & h3 {
      font-size: 20px;
    }


  }
}



.vantage {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &--reliable:hover,
  &--save:hover,
  &--multifunctional:hover,
  &--radio:hover,
  &--universal:hover {
    color: var(--orange);
    transition: all 0.3s;

    .reliable,
    .save,
    .multifunctional,
    .radio,
    .universal {
      transform: scale(1.1);
    }

  }

  & p {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--dark);
    opacity: 0.7;
  }

  & b {
    color: var(--dark);
    font-size: 18px;
  }

  & h3 {
    font-size: 18px;
    line-height: 133%;
    color: var(--dark);
  }

  @media (max-width: 1379px){
    &__grid {
      grid-template-columns: 1fr;
      gap: 45px;
    }
    .block__flex{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 32px;
    }
    .block__flex img{
      height: 344px;
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    &{
      margin-bottom: 0;
    }
  .block__grid-ligrip{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

}
@media (max-width: 474px){
  .block__flex{

    grid-template-columns:  1fr;
  }
  .block__grid {
    grid-template-columns: 1fr;
  }
}

}
